.error_wrapper {
    margin: 0 auto;
    margin-top: 116px;
    width: 522px;
}

.error_img {
    background-image: url('../../resources/img/surprised.png');
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.error_h2 {
    text-align: center;
    margin-top: 32px;
    color: #000000D9;
    font-size: 40px;
}

.error_title {
    display: inline-block;
    margin: 0 100px;
    margin-top: 20px;
    width: 330px;
    text-align: center;
    color: #000000a6;
    font-size: 20px;
}

.error_title a {
    color: #6EC7E2D9;
    text-decoration: underline;
}